---
import { FaBrandsSquareFacebook } from 'solid-icons/fa'
---

<div
    class="flex flex-col justify-center items-start gap-1 uppercase"
>
    <span class="subtext">rafal.lukaszewski@op.pl</span>
    <span class="subtext">696 200 360</span>
    <a
        href="https://www.facebook.com/DJWodzirejMragowo"
        target="_blank"
        rel="noopener noreferrer"
        class="subtext link external gap-1 inline-flex items-center"
    >
        <FaBrandsSquareFacebook />
        DJ Rafaelo
    </a>
</div>
