---
import { Icon } from "astro-icon";
---

<div class="flex flex-col justify-center items-start text-xs">
    <span class="subtext">rafal.lukaszewski@op.pl</span>
    <span class="subtext">696 200 360</span>
    <a
        href="https://www.facebook.com/DJWodzirejMragowo"
        target="_blank"
        rel="noopener noreferrer"
        class="subtext icon baseline gap-1"
    >
        <Icon name="carbon:logo-facebook" />
        <span class="underline underline-offset-2">DJ Rafaelo</span>
    </a>
</div>
